################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################


/.vs/slnx.sqlite
/.vs/EasySavev2/v16
/.vs/prog-sys/v16
/EasySavev2/bin/Debug/netcoreapp3.1/EasySavev2.dll
/EasySavev2/bin/Debug/netcoreapp3.1/EasySavev2.pdb
/EasySavev2/bin/Debug/netcoreapp3.1/EasySavev2.runtimeconfig.dev.json
/obj/Debug/netcoreapp3.1/EasySavev2.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/EasySavev2.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/EasySavev2.designer.deps.json
/obj/Debug/netcoreapp3.1/EasySavev2.designer.runtimeconfig.json
/obj/Debug/netcoreapp3.1/EasySavev2.dll
/obj/Debug/netcoreapp3.1/EasySavev2.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/EasySavev2.pdb
/obj/Debug/netcoreapp3.1/EasySavev2_MarkupComplie.cache
/obj/Debug/netcoreapp3.1/EasySavev2_MarkupCompile.i.cache
/onjg/Release/netcoreapp3.1